block header
    header.header
        .header__top
            .wrapper
                .header__top-inner
                    .header__lang
                        select(name="lang")
                            option(value="English") English
                            option(value="UK") UK
                            option(value="Russia") Russia 
                    .header__info
                        .header__contact
                            a(href="#") Contact Center
                        .header__country
                            select(name="country")
                                option(value="England") England  
                                option(value="Russia") Russia  
                                option(value="Czech") Czech  
        .header__bottom
            .wrapper
                .header__bottom-inner
                    .header__logo 
                        a(href="#")
                            img(src="./images/dest/dhl.png", alt="")
                    nav.header__nav 
                        li
                            a(href="#") EXPRESS
                        li
                            a(href="#") FARCEL & ECOMMERCE
                        li
                            a(href="#") LOGISTICS
                        li
                            a(href="#") MAIL
                        li
                            a(href="#") PRESS
                        li
                            a(href="#") ABOUT
                    .header__search