extends pages/common/layout
block content
    section.promo
        .wrapper
            .promo__inner 
                .promo__title We Deliver With Speed
                .promo__text When an unknown printer took a galley of type and scrambled <br> It to make a type specimen book. It has survived not only five centuries
                .promo__adv
                    li 
                        span Amazing
                    li 
                        span Quick
                    li
                        span 24/7 supports
                .promo__buttons
                    .btn_1
                        a(href="#") LEARN MORE
                    .btn_2
                        a(href="#") DHL WORLDWIDE
    section.services
        .wrapper 
            .services__inner
                .services__text
                    .services__title SERVICES
                    .services__subtitle Awesome Services
                .services__list 
                    .services__item
                        .services__item-img 
                            img(src="./images/dest/item1.png", alt="")
                        .services__item-title Express Services  
                        .services__item-text When an unknown printer took a galley of type and scrambled it to make a type specimen.
                        .services__item-src
                            a(href="#") Read More
                    .services__item
                        .services__item-img 
                            img(src="./images/dest/item2.png", alt="")
                        .services__item-title parcel & ecommerce 
                        .services__item-text When an unknown printer took a galley of type and scrambled it to make a type specimen.
                        .services__item-src
                            a(href="#") Read More
                    .services__item
                        .services__item-img 
                            img(src="./images/dest/item3.png", alt="")
                        .services__item-title frieght transport 
                        .services__item-text When an unknown printer took a galley of type and scrambled it to make a type specimen.
                        .services__item-src
                            a(href="#") Read More
                    .services__item.request
                        .services__request-title DHl Worldwide
                        .services__request-text When an unknown prot printer type and scra
                        .services__request-select
                            select(name="Location")
                                option(value="USA") USA 
                                option(value="Russia") Russia 
                                option(value="China")  China
                        .services__request-btn
                            button Explore
